<!-- Rebekah Banks -->

<div class="row justify-content-center mt-5">
    <div class="col-7">
        <h3>
            This First Heading
            <small class="text-muted">Will Catch Your Eye</small>
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis obcaecati nemo quasi laboriosam itaque repellat iusto aliquid iure quaerat vel. Minus voluptas natus magnam quidem pariatur, eum in possimus tenetur?</p>
    </div>
    <div class="col-3 ">
        <img class="w-100 rounded-circle"    src="../../img/1.jpg" alt="First_Image">
    </div>
  </div>