<!-- Mert Celikol -->
<div class="row border-bottom border-white pb-5">
    <div class="col-4">
        <div class="card border-0">
        <img class="card-img-top" src="../../img/big-project-image.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem perferendis odit praesentium aliquid, itaque ratione tempore ex blanditiis ad quibusdam magni ducimus beatae harum nam possimus mollitia animi! Delectus, explicabo?</p>
          
        </div>
      </div>
    </div>
    <div class="col-4 ">
        <div class="card border-0">
        <img class="card-img-top" src="../../img/big-project-image.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A, expedita. Nostrum doloremque fuga maiores sint sit blanditiis necessitatibus reiciendis? Vitae, magni qui temporibus omnis voluptatem voluptas dignissimos reiciendis eum labore?</p>
           
        </div>
      </div>
    </div>
    <div class="col-4 ">
        <div class="card border-0">
        <img class="card-img-top" src="../../img/big-project-image.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum fuga aliquid amet odio totam iste numquam, atque, asperiores non voluptatum ducimus rerum iusto nisi, hic veniam id veritatis nihil modi?</p>
        </div>
      </div>
    </div>
</div>