<!-- Rebekah Banks -->
<div class="row justify-content-center mt-5">   
    <div class="col-3">
        <img class="w-100 rounded-circle"    src="../../img/2.jpg" alt="Second_Image">
    </div>
    <div class="col-8">
        <h3>
            The Second Heading
            <small class="text-muted">Is Pretty Cool Too.</small>
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, minima asperiores. Necessitatibus labore aspernatur quod distinctio modi culpa officiis hic eius, quos iure corrupti! Itaque facere quo deserunt voluptate ipsa?</p>
    </div>
</div>